/*background*/

body, html{
    background-image: url(/home/ahmet/Projects/My-Portfolio/a_720.jpg);
    height: %100;
    background-position: center;
    background-size: cover;
    background-color: black; 
    background-attachment: fixed;

    /*  url(/home/ahmet/Projects/My-Portfolio/40012769_10156919818629095_7280083988943732736_o_720.jpg);*/
}

.content {
display: flex;
justify-content: center;
flex-direction: column;
}

/* image*/
/*(/home/ahmet/Projects/My-Portfolio/35227940_10157429586595130_2994314855034388480_n_720.png);*/
img{
    border-radius: 55%;
    width: 350px;
    height: 350px;
    padding-right: 100px;
    padding-left: 120px;
    
}

/* body elements*/

h2,h3, span {
display: flex;
justify-content: center;
 color: #fff
}

h2,h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color: #fff
}

h4 {
    font-size: 35px;
    font: outline; font-style: unset; 
    font-family: 'Raleway', sans-serif;
    padding-left: 60px;
    padding-right: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    
}
span {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color: #fff

}
    
p {
    font-size: 25px;
    font: outline; font-style: unset; 
    font-family: 'Raleway', sans-serif;
    padding-left: 60px;
    padding-right: 60px;
    color: #fff
    
}

.bio {

    max-width: 600px;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
    align-self:center;
}
.parag {
    max-width: 600px;
    display: flex;
    justify-content: center;
}

li {
    font-size: 25px;
    font-style: unset; 
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;    
}

/*link*/
a{
    color: white;
}

/*social media*/


  .social-media-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

  }
.fa {  
    padding: 20px;  
    font-size: 30px;  
    width:10px;  
    height: 10px;
    text-align: center;  
    text-decoration: none;
    border-radius:50%;
}
   
.fa:hover {  
    opacity: 0.7;
}
 
.fa-facebook {  
    background: #3B5998;  
    color: white;

}

.fa-instagram {
        background: #125688;
        color: white;
        margin-left: 10px;
        }

/* icon bar*/

body {
    margin:0
}

.icon-bar {
  width: 150px;
  size: 200px;
  display: flex;
  flex-direction: row;
}

.icon-bar a {

  display: block;
  text-align: center;
  padding: 30px;
  transition: all 0.3s ease;
  color: white;
  font-size: 50px;
  padding-right: 50px;
}

.icon-bar a:hover {
  background-color: #000;
}
